<!-- Navigation Menu displayed on each page -->
<div id="header">
<a href="adduser">Add a User (C)</a>
<a href="list">List Users (R)</a>
<a href="modifyuser">Modify a User (U)</a>
<a href="removeuser">Remove a User (D)</a>
</div>
