<html>
  <head>

  </head>
  <body>
    <!-- Include the menu -->
    <% include partials/header %>
    <h1>Add a User</h1>
    <form action="/adduser" method="post">
      First Name: <input type="text" name="first_name" placeholder="first_name" /><br />
      Last Name: <input type="text" name="last_name" placeholder="last_name" /><br />
      Age: <input type="number" name="age" placeholder="age" /><br />
      Gender:
      <select name="gender">
        <option value="M">M</option>
        <option value="F">F</option>
      </select>
      <br />
      Occupation: <input type="text" name="occupation" placeholder="occupation" /><br />
      <h3>Address</h3>
      Street: <input type="text" name="street" placeholder="street" /><br />
      Town: <input type="text" name="town" placeholder="town" /><br />
      County: <input type="text" name="county" placeholder="county" /><br />
      Country: <input type="text" name="country" placeholder="country" /><br />
      <input type="submit" value="Add User"/>
    </form>
  </body>
</html>
