<html>
  <head>

  </head>
  <body>
    <!-- Include the menu -->
    <% include partials/header %>
    <h1>Remove a User</h1>
    <form action="/removeuser" method="post">
      <select name="nameSelect">
        <!-- Loop through the names array and display each of the names in a select menu -->
        <% names.forEach(function(person) { %>
          <option value="<%= person.id %>"><%= person.first_name %> <%= person.last_name %></option>
        <% }) %>
      </select>
      <input type="submit" value="Delete User" onclick="confirm('Are you sure?')"/>
    </form>
  </body>
</html>
